html,body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration-color: #373F27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  background-image: url('./images/lake.jpg');
  background-size: cover;
  height: 100vh;
}

.works {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.link:link,
.link:visited {
    text-decoration: none;
    display: block;
    transition: text-decoration .3s;
    margin: 10px 50px 50px;
}

.link:hover {
  text-decoration: underline;
}

span {
  display: inline-block;
  width: 100%;
  height: auto;
}
 
 
 
  
   