html,body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration-color: #373F27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h2, p{
    margin-top:20px;
}  

.container {
  background-image: url('./images/lake.jpg');
  background-size: cover;
  height: 100vh;
  animation: movePhoto 8s ease-out both;
}

.works {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  display: block;
  transition: text-decoration .3s;
}

.link:hover {
  text-decoration: underline;
}
 
  
@media only screen and (max-width: 500px) {
    .project {
      margin: 40px 0;
    }
}

 
  @-webkit-keyframes movePhoto {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 16%;
              transform-origin: 16% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, -15px);
              transform: scale(1.25) translate(-20px, -15px);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }
  @keyframes movePhoto {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 16%;
              transform-origin: 16% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, -15px);
              transform: scale(1.25) translate(-20px, -15px);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }

   