html,body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration-color: #373F27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding: 50px auto 25px;
}

p {
  margin-bottom: 50px;
}

.container {
  background-image: url('./images/lake.jpg');
  background-size: cover;
  height: 100vh;
}

.works {
  margin: 0 auto;
  width: 80%;
  display: flex;
}

.right-side,
.left-side {
  width: 50%;
}
 
.link:link,
.link:visited {
  background-color: rgba(247, 249, 246, 0.5);
  color: #333333;
  display: inline-block;
  text-decoration: none;
  margin: 20px 50px 20px;
  padding: 3px;
  transition: all .3s;
}

.link:hover {
  background-color: rgba(247, 249, 246);
  box-shadow: 0 1rem 2rem rgba(black, .15);
  transform: translateY(-2px);
}

.link:active {
  box-shadow: 0 .5rem 1rem rgba(black, .15);
  transform: translateY(0);
}

span {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
 
 
 
  
   