.vis-item .vis-onUpdateTime-tooltip {
  border-radius: 4px;}
    body, html {
      font-family: sans-serif;}
header{
   
  padding-bottom:0px;
  margin-bottom:10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
 
h1{
  margin:10px;
}
      .personal-info  {
        border:2px solid black;
        margin:10px;
        padding-left:0px;
      }
i{
  padding:5px;
}
.user-photo{
   margin-top:5px;
  margin-left: 10px;
  margin-right:10px
}
   
      .container{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
         
      }
      article{
        border:2px solid black;
        padding:20px;
        background-color:grey;
      }
.buttons{
  margin-left:10px;
}
.buttons input{
  padding:5px;
  margin:5px;
}
#mytimeline {
        margin-top:20px;
      }
.instructions {
  padding: 0;
  margin: 5px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;    
}
article {
  background: #e6e6ff;
  padding: 10px;
  width: 220px;
  height: 110px;
  margin-top: 30px;
  margin-bottom: 10px;
   
   border:2px solid black;
  color: black;
  font-size:15px;
     
}
#mytimeline{
  margin-right:10px;
  margin-left:10px;
   
   
}
.title{
  font-weight:bold;
  margin-bottom:10px;
}
@media screen and (max-width: 250px){
  .buttons{
     display:flex;
    flex-direction:column;
    flex-wrap:wrap;
     
    margin-right:10px;
  }
  article{
    font-size:12px
  }
}

